<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <nav class="flex justify-around bg-gray-900 text-white p-5 rounded-3xl m-3 ">
        <div class="logo font-extrabold  ">LOGO</div>
        <ul class="flex gap-5">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>project</li>
            <li>Services</li>
        </ul>
    </nav>

    <!-- heroSection  -->
    <div class="flex items-center mx-5">
        <div class="text">
            <h1 class="text-2xl font-extrabold">Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere incidunt soluta quibusdam animi non
                mollitia placeat tempore. Animi excepturi quaerat, temporibus debitis nostrum, distinctio minus optio
                dolorum ut dolor odio.</p>
            <button class="bg-gray-900 text-white py-3 px-5 rounded-3xl">Click me</button>
        </div>
        <img class="w-[300px] h-[300px] rounded-full" src="/images/img2.png" alt="">
    </div>

    <!-- cards -->
    <h1 class="text-center text-2xl font-extrabold mt-5 ">Lorem ipsum dolor sit amet.</h1>
    <div class="w-[300px] h-[4px] bg-gray-900 rounded-full mx-auto "></div>

    <div class="flex flex-wrap gap-5 mt-10 justify-center">
        <div class="card w-[250px] border border-gray-400  rounded-2xl text-center p-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere incidunt soluta quibusdam animi non
                mollitia placeat tempore. Animi excepturi quaerat, temporibus debitis nostrum, distinctio minus optio
                dolorum ut dolor odio.</p>
            <a class="text-blue-700 font-bold" href="">Read More...</a>
        </div>
        <div class="card w-[250px] border border-gray-400  rounded-2xl text-center p-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere incidunt soluta quibusdam animi non
                mollitia placeat tempore. Animi excepturi quaerat, temporibus debitis nostrum, distinctio minus optio
                dolorum ut dolor odio.</p>
            <a class="text-blue-700 font-bold" href="">Read More...</a>
        </div>
        <div class="card w-[250px] border border-gray-400  rounded-2xl text-center p-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere incidunt soluta quibusdam animi non
                mollitia placeat tempore. Animi excepturi quaerat, temporibus debitis nostrum, distinctio minus optio
                dolorum ut dolor odio.</p>
            <a class="text-blue-700 font-bold" href="">Read More...</a>
        </div>
    </div>
</body>

</html>