<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <!-- <div class="box bg-red-700 text-white sm:bg-amber-900 md:bg-blue-900  ">
        <p>Lorem ipsum dolor sit amet.</p>
    </div> -->
    <nav class="flex justify-around bg-gray-900 text-white p-5">
        <div class="logo">LOGO</div>
        <ul class="hidden sm:flex gap-10">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>projects</li>

        </ul>
        <div class="bar rotate-90 text-2xl sm:hidden ">
            ⏸️
        </div>
    </nav>
    <section class="flex flex-col-reverse  md:flex-row justify-between items-center p-10">
        <div class="text-center md:text-start">
            <h1 class="text-4xl font-bold md:text-6xl">Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime nesciunt praesentium
                exercitationem expedita itaque, voluptatum dolore distinctio consectetur, et, modi earum ad fugit
                incidunt possimus. Officiis dolores odit odio!</p>
            <button>Click me </button>
        </div>
        <img class="size-[300px] md:size-[400px] rounded-full " src="/images/img2.png" alt="">
    </section>
</body>

</html>