<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <div class="bg-red-500 text-white p-5 m-5 mt-6 rounded-4xl flex justify-around">
        <div class="logo">LOGO</div>
        <ul class="flex gap-6">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Projects</li>
        </ul>
    </div>
</body>

</html>